<script >
import {AudioProject} from 'hertzjs'
import sampleProjectJson from './assets/sample-project.json'
export default {
  components:{
    
  },
  data(){
    return {
      audioProject : null,
      playBackSeconds : 0,
      isPlaying : false,
      isRendering : false
    }
  },
  methods:{
    play(){
      if(this.isPlaying)
        this.audioProject.pause();
      else
      {
        console.log('APP:rendering')
        this.isRendering = true;
        this.audioProject.render().then((buffer) => {
          console.log('APP:starting playback')

          this.audioProject.playBuffer(buffer)
          console.log('Generated buffer is: ', buffer)
          this.isRendering = false;
        });
      }
        
      this.isPlaying = !this.isPlaying;
    },
    initAudioProject(){
      this.audioProject = AudioProject.createFromJson(JSON.stringify(sampleProjectJson));
      this.audioProject.on('play', () => {
          console.log('playing...')
      })

      // this.audioProject.on('cursor:update', (second) => {
      //   this.playBackSeconds = second;
      // })

      window.project = this.audioProject
    },
    undo(){
      this.audioProject.undo();
    },
    redo(){
      this.audioProject.redo();
    },

    addSound(){
      let track = this.audioProject.getTracks()[0]; //Extracts the first track
      let clip = track.newClip('https://raw.githubusercontent.com/hafizmp/Music-Application/master/Assets/music/All_Time_Low.mp3');
      clip.setStartsAt(2)
      clip.setDuration(4)
      this.audioProject.commit();
    }
  },
  computed:{
    historyCount(){
      return this.audioProject?.getHistoryCount()
    },
    isInLastVersion(){
      return this.audioProject?.isInLastVersion()
    }
  }
  
}

</script>

<template>
  <div class="flex items-center justify-center w-full h-screen">
    <div class="w-96">
      <h1 v-if="isRendering">Rendering...</h1>
      <div class="flex flex-col items-center">
        <button v-if="!this.audioProject" @click="initAudioProject()" class="border p-2 rounded">Init project</button>
        <h1 v-else>Project initialized</h1>
      </div>

      <div class="flex justify-between items-center">
        <h1>History count: {{ historyCount }}</h1>
        <h1 v-if="isInLastVersion">Last version</h1>
      </div>

      <!-- <div class="h-8 w-96 border-2 border-black rounded" >
        <div :style="{width : `${playBackSeconds * 10}px`}" class="h-full bg-green-500"></div>
      </div> -->
      <div class="flex justify-between mt-4">
        <button @click="play()">
          <svg v-if="isPlaying" xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" viewBox="0 -960 960 960"><path d="M330-330h300v-300H330v300ZM480.266-80q-82.734 0-155.5-31.5t-127.266-86q-54.5-54.5-86-127.341Q80-397.681 80-480.5q0-82.819 31.5-155.659Q143-709 197.5-763t127.341-85.5Q397.681-880 480.5-880q82.819 0 155.659 31.5Q709-817 763-763t85.5 127Q880-563 880-480.266q0 82.734-31.5 155.5T763-197.684q-54 54.316-127 86Q563-80 480.266-80Zm.234-60Q622-140 721-239.5t99-241Q820-622 721.188-721 622.375-820 480-820q-141 0-240.5 98.812Q140-622.375 140-480q0 141 99.5 240.5t241 99.5Zm-.5-340Z"/></svg>
          <svg v-else xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" viewBox="0 -960 960 960" ><path d="m383-310 267-170-267-170v340Zm97 230q-82 0-155-31.5t-127.5-86Q143-252 111.5-325T80-480q0-83 31.5-156t86-127Q252-817 325-848.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 82-31.5 155T763-197.5q-54 54.5-127 86T480-80Zm0-60q142 0 241-99.5T820-480q0-142-99-241t-241-99q-141 0-240.5 99T140-480q0 141 99.5 240.5T480-140Zm0-340Z"/></svg></button>
        <div class="flex items-center space-x-4">
          <button @click="undo()">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" viewBox="0 -960 960 960" ><path d="M280-200v-60h289q70 0 120.5-46.5T740-422q0-69-50.5-115.5T569-584H274l114 114-42 42-186-186 186-186 42 42-114 114h294q95 0 163.5 64T800-422q0 94-68.5 158T568-200H280Z"/></svg>
          </button>
          <button @click="redo()">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" viewBox="0 -960 960 960" ><path d="M392-200q-95 0-163.5-64T160-422q0-94 68.5-158T392-644h294L572-758l42-42 186 186-186 186-42-42 114-114H391q-70 0-120.5 46.5T220-422q0 69 50.5 115.5T391-260h289v60H392Z"/></svg>
          </button>
        </div>
      </div>
      <div class="mt-4">
        <button @click="addSound()" class="border p-2 rounded">
          Add sound
        </button>
      </div>
    </div>
  </div>
</template>
